<!-- Banner Section Begin -->
<app-header></app-header>

    <div class="container">
    <div class="row d-flex justify-content-start my-5 ">

        <div class="text-white col-md-4 col-sm-6 col-xs-12 shop">
            <div class="shop-img"><img src="assets/img/shop01.png" class="card-img " alt="..."></div>
            <div class="shop-body">
                <h3>Laptop<br>Collection</h3>
                <a href="products" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="text-white col-md-4 col-sm-6 col-xs-12 shop">
            <div class="shop-img"><img src="assets/img/shop03.png" class="card-img " alt="..."></div>
            <div class="shop-body">
                <h3>Headphone<br>Collection</h3>
                <a href="products" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="text-white col-md-4 col-sm-6 col-xs-12 shop">
            <div class="shop-img"><img src="assets/img/shop02.png" class="card-img " alt="..."></div>
            <div class="shop-body">
                <h3>Cameras<br>Collection</h3>
                <a href="products" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>


<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title" style="text-align: center;">
                    <h3 class="title" style="font-weight:600;">New Arrivals</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">

                            <li class="active"><a data-toggle="tab" href="#tab1">Show More Items <i
                                        class="fa fa-arrow-circle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->
        </div>
    </div>
</div>
<!--Product gallery-->
<div class="container mb-4">
    
<app-new-products></app-new-products>
</div>
<app-footer></app-footer>
<!--gallery ends-->